<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" id="username" class="form-control" formControlName="username" />
            <span class="form-text text-muted" *ngIf="
                signupForm.get('userData.username').invalid &&
                signupForm.get('userData.username').touched
              ">
              <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">
                This is a invalid username
              </span>
              <span *ngIf="signupForm.get('userData.username').errors['required']">
                This field is required
              </span>
            </span>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="Email" class="form-control" formControlName="email" />
            <span class="form-text text-muted" *ngIf="
                signupForm.get('userData.email').invalid &&
                signupForm.get('userData.email').touched
              ">please enter a valid email</span>
          </div>
        </div>

        <div class="radio" *ngFor="let gender of genders">
          <label for="username">
            <input type="radio" [value]="gender" formControlName="gender" />
            {{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your Hobbies</h4>
          <button type="button" class="btn btn-default" (click)="onAddHobby()">Add Hobby</button>
          <div class="form-group"
            *ngFor="let hobby of signupForm.get('hobbies')['controls'] as FormControl; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
            <span class="form-text text-muted" *ngIf="
            signupForm.get('hobbies')['controls'][i].invalid &&
            signupForm.get('hobbies')['controls'][i].touched
          ">please enter a valid username</span>
          </div>
        </div>
        <span class="form-text text-muted" *ngIf="signupForm.invalid && signupForm.touched">please enter valid
          data</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
